@font-face {
    font-family: SuisseMedium;
    src: local('./assets/Fonts/Suisse/suisseintl-medium.otf')
}

@font-face {
    font-family: SuisseBold;
    src: local('./assets/Fonts/Suisse/suisseintl-semibold.otf')
}

@font-face {
    font-family: SuisseNormal;
    src: local('./assets/Fonts/Suisse/suisse-normal.otf');
}

@font-face {
    font-family: ZapfHumanist;
    src: local('./assets/Fonts/ZapfHumanist/324B1A_0_0.woff');
}

.hwylnavbar{
    background-color:rgba(253, 245, 242, 0.8);
    width:100%;
    z-index:2;
    position:fixed;
}

.navbar-text{
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: SuisseNormal, Helvetica, sans-serif;
    font-size: 1.0rem;
}

.jumbotron container{
    margin-left:0px;
    margin-right:0px;
}

.btn-primary{
    background-color:#333333;
    color:#FEFEF2;
    border: solid #333333 2px;
    font-family: SuisseNormal, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 0px;
    height: 44px;
    width: 100%;
    align-content: center;
}

.btn-primary:hover{
    background-color:black;
    color:#FEFEF2;
    border: solid black 2px;
}

.jumbotron{
    background-image: local("./assets/Images/hwylheroimage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 955px;
    margin-bottom:0px;
}

.jumbotron h1{
    margin-bottom:0px;
}

.jumbotron p{
    font-family: SuisseNormal, Helvetica, sans-serif;
    font-size:1.0rem;
}

.jumbotron h4{
    font-family: SuisseBold, Helvetica, sans-serif;
    font-size:1.2rem;
}

.h1suisse{
    font-family: SuisseBold, Helvetica, sans-serif;
    font-size:3.0rem;
}

.h1zapf{
    font-family: ZapfHumanist, Times New Roman, serif;
    font-size:2.6rem;
}

.perfumerquote{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:#5E746F;
    color:#FEFEF2;
}

.perfumerquote h1{
    margin-bottom:20px;
}

.perfumerquote p{
    font-family: SuisseMedium, Helvetica, sans-serif;
    font-size:1.0rem;
}

.heavyline{
    color:#333333;
    background-color:#333333;
    height: 4px;
}

.lightline{
    color:#333333;
    background-color:#333333;
    height: 2px;
}

.btn-secondary{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color:transparent;
    color:#333333;
    border:solid #333333 2px;
    height:44px;
    border-radius:0px;
    align-content: center;
    font-family: SuisseNormal, Helvetica, sans-serif;
    font-size:0.89rem;
}

.btn-secondary:hover{
    background-color:#333333;
    color:#FEFEF2;
    border:solid #333333 2px;
}

.btn-secondary:active{
    background-color:black;
    color:#fefef2;
    border:solid black 2px;
}

.fragrancenotes{
    background-color:#fefef2;
    padding-top:40px;
    padding-bottom:40px;
}

.fragrancenotes h4{
    font-family: SuisseBold, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom:0px;
}

.fragrancenotesdescription{
    font-family:SuisseMedium, Helvetica, sans-serif;
    color:#fefef2;
}

.card{
    background-color:#333333;
    color:#fefef2;
    border-radius:8px;
    padding:0px;
    border: solid #333333 2px;
    align-content:flex-start;
    margin-top:10px;
    min-height: 160px;
    font-family: SuisseNormal, Helvetica, sans-serif;
    font-size:0.9rem;
}

.fragrancenotes img{
    width: 100%;
}

.inspiration{
    background-color:#9AA8A5;
    padding-top:40px;
    padding-bottom:40px;
}

.inspiration img{
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}

.inspiration p{
    font-family:SuisseMedium, Helvetica, sans-serif;
    font-size:1.0rem;
}

.visit{
    background-color: white;
    padding-top:40px;
    padding-bottom:40px;
}

.visit h2{
    font-family:SuisseMedium, Helvetica, sans-serif;
    font-size:1.8rem;
}

.visit h4{
    font-family:ZapfHumanist, Times New Roman, serif;
    font-size:1.6rem;
}

.visit p{
    font-family:SuisseMedium, Helvetica, sans-serif;
    font-size:1.0rem;
}

.visit img{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.closeicon{
    position:fixed;
    left:47.5%;
    bottom:2%;
    z-index: 1;
}

a{
    color:#333333;
    font-family:SuisseBold, Helvetica, sans-serif;
    font-size:1.0rem;
}

a:hover{
    color:black;
}